body{
    background-color: #DB901A;
}

.href-danger{
    color : #c9302c;
}

.href-danger:hover{
    background-color : #c9302c;
}

.my-alert{
    position: absolute;
    z-index: 10;
}


.table > tbody > tr > td {
    vertical-align: middle;
}

select{
    font: inherit;
    color: inherit;
    height: 34px;
    font-size: 15px;
    border-radius: 4px;
}

.strong{
    font-weight: bold;
}

#placeFrom, #dateForm, #descriptionForm, #nameFrom{
    display: none;
}

div{
    margin: auto;
}